<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.services.mapper.ServiceMapper">

    <resultMap id="Service" type="com.example.services.entity.Service">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <parameterMap id="Service" type="com.example.services.entity.Service">
        <parameter property="id"/>
        <parameter property="name"/>
    </parameterMap>

    <insert id="addService" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `services`
            ( `name` )
        VALUES
            ( #{service.name} )
    </insert>

    <delete id="deleteServiceById" parameterType="java.lang.Long">
        DELETE
        FROM
            `services`
        WHERE
            `id` = #{id}
    </delete>

    <update id="updateServiceById" parameterType="com.example.services.entity.Service">
        UPDATE
            `services`
        SET
            `name` = #{service.name}
        WHERE
            `id` = #{service.id}
    </update>

    <select id="getServiceById" resultMap="Service">
        SELECT
            *
        FROM
            `services`
        WHERE
            `id` = #{id}
    </select>

    <insert id="batchAddServices" parameterType="java.util.List">
        INSERT INTO `services`
        ( `name` )
        VALUES
        <foreach item="service" index="index" collection="envList" separator=",">
            ( #{service.name} )
        </foreach>
    </insert>

    <delete id="batchDeleteServices" parameterType="java.util.List">
        DELETE
        FROM
        `services`
        WHERE
        `id` IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="batchUpdateServices" parameterType="java.util.List">
        <foreach collection="serviceList" item="service" index="index" separator=";">
            UPDATE `services`
            SET `name` = #{service.name}
            WHERE `id` = #{service.id}
        </foreach>
    </update>

    <select id="getServicesByPage" resultMap="Service">
        SELECT
        *
        FROM
        `services`
        WHERE
        1 = 1
        <if test="queryCondition != null and queryCondition != ''">
            AND `name` LIKE CONCAT('%', #{queryCondition}, '%')
        </if>
        ORDER BY `update_time` DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getServicesTotal" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `services`
    </select>

</mapper>